
@font-face {
  font-family: "CaskaydiaCove Nerd Font";
  src: url("https://raw.githubusercontent.com/Kevin-Lee/content-fonts/main/nerd-fonts/font-caskaydia-cove-nerd-font/2.1.0/Caskaydia%20Cove%20Nerd%20Font%20Complete.ttf") format("truetype");
}

@font-face {
  font-family: "CaskaydiaCove Nerd Font Mono";
  src: url("https://raw.githubusercontent.com/Kevin-Lee/content-fonts/main/nerd-fonts/font-caskaydia-cove-nerd-font/2.1.0/Caskaydia%20Cove%20Nerd%20Font%20Complete%20Mono.ttf") format("truetype");
}
